<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Course-Management-App | Create Course</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" th:href="@{/media/icons/favicon.png}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/create_course.css}">
</head>


<body>
<header id = "header">
    <span id="official"><img src="@{/media/icons/favicon.png}">&nbsp; Course Management App</span>
</header>

<!---------------------------------Highlighter-------------------------------------->
<div class="highlighter1"></div>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 marg-bottom-6 min-height-100">

            <div class="card card-spacing marg-top-6 box-shd">
                <div class="card-body">
                    <h1 class="card-text" style="color:cyan;">Create Course</h1>
                    <form th:action="@{/courses}" th:object="${course}" method="POST" class="marg-top-3">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Course Name</label>
                            <input type="text" class="form-control" th:field="*{name}" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Course Name" required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Author Name</label>
                            <input type="text" class="form-control" th:field="*{author}" id="exampleInputPassword1" placeholder="Enter Author name" required>
                        </div>

                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>



<!---------------------------------Highlighter-------------------------------------->
<div class="highlighter2"></div>
<!---------------------------------Footer-------------------------------------->
<footer>
    <div class="container">
        <div class="copyright">
            Copyright © 2022. All Rights Reserved by <span id="footer-font">Course-Management-App</span>
        </div>
    </div>
</footer>



<!-- Bootstrap JS - Bundles: Bootstrap bundle.js + Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>